.princi3{
  color: #34495e !important;
    font-family: "Cormorant Garamond", serif !important;
    font-size: 30px !important;
    padding-top: 45px!important;
    padding-left: 30%;
    padding-bottom: 10px!important;
    margin-bottom: 45px !important;
    align-items: center!important;
  }

.princi2{
    color: #34495e !important;
      font-family: "Cormorant Garamond", serif !important;
      font-size: 30px !important;
      padding-top: 5px;
      padding-left: 25%;
      padding-bottom: 10px;
      margin-bottom: 5px !important;
      align-items: center!important;
    }
  .css-r5r38p-MuiContainer-root {
    max-width: 90% !important;
}


  .datos{
    color: #34495e !important;
    font-family: "Cormorant Garamond", serif !important;
    font-size: 15px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    margin-bottom: 5px !important;
  }

.text-area-encargado{
    width: 100%;
    border-radius: 4px;
    padding: 0.7rem;
}

.boton-modal{
  width: 25%;
  height: 50px;
  background-color: rgb(89 142 199) !important;
  font-size: 16px !important;
  font-weight: 500!important;
  margin-left: 5px!important;
}

.boton-modal2{
  width: 100%;
  height: 50px;
  font-size: 14px !important;
  font-weight: 200!important;
  margin-right: 5px!important;
}

.boton-modal3{
  width: 70%;
  height: 50px;
  font-size: 14px !important;
  font-weight: 200!important;
  margin-right: 5px!important;
  margin-left: 25px!important;
}


.boton-modal1{
  width: 100%;
  height: 50px;
  font-size: 14px !important;
  font-weight: 200!important;
  margin-right: 5px!important;
  border-color: rgb(254 168 69)!important;
  color: rgb(254 168 69)!important;
}

.panelp2{
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-style:groove;
  background-color:hsla(180, 8%, 95%, 0.025) ;
}

.rosita{
  background-color: rgb(254 168 69) !important;
  margin-left: 5%;
}